.hero-section {
  justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #bbdefb;
}

.hero-section::before {
  content: "";
  background-image: url("/src/assets/HeroSection-bg-image.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-header {
  position: relative;
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.main-header {
  text-shadow: 1px 1px 3px rgba(8, 8, 8, 0.575);
  color: #ffffff;
  font-size: 50px;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #49535c;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;

  font-family: Arial, sans-serif;
}

.hero-subheader {
  position: relative;
  padding: 60px;
  margin-top: 30px;
  justify-content: center;
}

.second-header {
  display: flex;
  flex-direction: column;
  background-color: #49535c;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid #ccc;
  justify-content: center;
}

.second-header h2 {
  text-shadow: 2px 2px 5px rgba(14, 13, 13, 0.723);
  font-size: 22px;
  text-align: center;
  position: relative;
  padding: 20px;
  font-weight: normal;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.second-header span {
  color: rgba(202, 205, 208, 0.847);
  font-size: 24px;
  padding: 5px;
  margin-left: 20px;
  margin-top: 3px;
  font-weight: 600;

  font-family: Arial, sans-serif;
}
